.navbar_toggoler{
    .offcanvas {
        .offcanvas-body{ 
          .sideNavbarOffcan{
            .sideContentOfcan{
                padding: 20px 20px;
                 .sideOfcan{
                  .profile_img{
                    text-align: center;
                      img{
                          width: 100px;
                          margin: 0 auto;
                      }
                } 
                .profile_info{
                    padding: 20px 0;
                    text-align: center;
                    h3{
                        font-size: 28px;
                        color: $white;
                        font-weight: 500;
                    }
                    h4{
                      font-size: 18px;
                      color: $black;
                      font-weight: 500;
                      padding: 5px 0;
                  }
                  .icons{
                      ul{
                          li{
                              display: inline-block;
                              padding: 0 8px;
                              a{
                                  i{
                                      font-size: 22px;
                                      color: $white;
                                      &:hover{
                                          color: $black;
                                      }
      
                                  }
                              }
                          }
                      }
                  }
                }
                 }
                  .navbar_listOfcan{
                      ul{
                          li{
                              padding: 10px 0 10px 50px;
                              border-bottom: 1px solid rgb(198, 195, 195);
                              a{
                                  color: $white;
                                  font-weight: 400;
                                  font-size: 17px;
                                  &:hover{
                                      color: $black;
                                      padding-left: 20px;
                                  }
                                  span{
                                      padding-right: 10px;
                                     
                                  }
                              }
                          }
                      }
                  }
            }
        }
        }
    }
}